{% extends "base.html" %}
{% load static i18n %}


{% block notification %}{% endblock %}

{% block profile_picture %}{% endblock %}

{% block sidebar_links %}{% endblock %}


{% block top_menu_right %}
<ul class="nav pull-right top-menu">
  {% if request.user.is_authenticated %}
    <li><a class="logout" href="{% url 'logout' %}?next=/crm/">{% trans "Logout" %}</a></li>
  {% else %}
    <li><a class="logout" href="{% url 'login' %}?next=/crm/">{% trans "Login" %}</a></li>
  {% endif %}
      
</ul>
{% endblock %}

{% block main_content %}

<section id="main-content">

    <section class="wrapper site-min-height">

      {% if request.user.is_authenticated %}

      <h3><i class="fa fa-angle-right"></i> {% trans "Welcome" %} {{request.user}}</h3>
      <div class="row mt">
        <div class="col-lg-12">
        <p><a href="{% url 'dashboard' %}">{% trans "continue to dashboard" %}</a></p>
        </div>
      </div>


      {% else %}


      <h3><i class="fa fa-angle-right"></i> {% trans "Please login to continue " %}</h3>
      <div class="row mt">
        <div class="col-lg-12">
        <p><a href="{% url 'login' %}?next=/crm/">{% trans "Login" %}</a></p>
        </div>
      </div> 

      {% endif %}


</section>
</section>
{% endblock %}