{% load i18n %}
<div id="navigation-bar">
  <h2>
    {% blocktrans with order_id=invoice.id %}
    Order #{{order_id}} - {{document_name}}
    {% endblocktrans %}
  </h2>
  <ul>

    <li>
      <a href="javascript:window.print();"
         title="{% trans 'Print this page' %}">
        {% trans "Print" %}
      </a>
    </li>
    <li>
      <a href="javascript:window.close();"
         title="{% trans 'close this window'%}">
        {% trans "Close this window" %}
      </a>
    </li>
  </ul>
</div>
