{% extends "base_billing.html" %}
{% load static i18n humanize %}

{% block extra_stylesheet %}
<link href="{% static 'assets/css/table-responsive.css' %}" rel="stylesheet">
{% endblock extra_stylesheet%}

{% block title %}{% trans " Billing and payment area" %}{% endblock %}



{% block main_content %}
<section id="main-content">
    <section class="wrapper site-min-height">
      <h3><i class="fa fa-angle-right"></i> <b>{% trans " Billing and payment area" %}</b></h3>

          
          <div class="row">
            <!-- TWITTER PANEL -->
            <div class="col-lg-6 col-md-6 col-sm-12">
                          <div class="darkblue-panel pn">
                            <div class="darkblue-header">
                    <h5>{% trans "Statistics - Customer invoice" %}</h5>
                            </div>
                <canvas id="serverstatus02" height="120" width="120"></canvas>
                <script>
                  var doughnutData = [
                      {
                        value: 60,
                        color:"#68dff0"
                      },
                      {
                        value : 40,
                        color : "#444c57"
                      }
                    ];
                    var myDoughnut = new Chart(document.getElementById("serverstatus02").getContext("2d")).Doughnut(doughnutData);
                </script>
                <p>April 17, 2014</p>
                <footer>
                  <div class="pull-left">
                    <h5><i class="fa fa-hdd-o"></i> 17 GB</h5>
                  </div>
                  <div class="pull-right">
                    <h5>60% Used</h5>
                  </div>
                </footer>
                          </div><! -- /darkblue panel -->
            </div><!-- /col-md-6 -->

           <!-- TWITTER PANEL -->
            <div class="col-lg-6 col-md-6 col-sm-12">
                          <div class="darkblue-panel pn">
                            <div class="darkblue-header">
                    <h5>{% trans "Statistics - Vendor invoice" %}</h5>
                            </div>
                <canvas id="serverstatus02" height="120" width="120"></canvas>
                <script>
                  var doughnutData = [
                      {
                        value: 60,
                        color:"#68dff0"
                      },
                      {
                        value : 40,
                        color : "#444c57"
                      }
                    ];
                    var myDoughnut = new Chart(document.getElementById("serverstatus02").getContext("2d")).Doughnut(doughnutData);
                </script>
                <p>April 17, 2014</p>
                <footer>
                  <div class="pull-left">
                    <h5><i class="fa fa-hdd-o"></i> 17 GB</h5>
                  </div>
                  <div class="pull-right">
                    <h5>60% Used</h5>
                  </div>
                </footer>
                          </div><! -- /darkblue panel -->
            </div><!-- /col-md-6 -->
            
          </div><!-- /row -->
          

                  </div><!-- /col-lg-12 END SECTION MIDDLE -->
                  

<div class="row mt">
  <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="content-panel">
            <h4><i class="fa fa-angle-right"></i> {% trans "Latest 10 modified Customer invoices" %}</h4>
                <section id="unseen">
                <table class="table table-bordered table-striped table-condensed">
                    <thead>
                  <tr>
                        <th>{% trans "Name" %}</th>
                        <th>{% trans "Type" %}</th>
                        <th>{% trans "Date" %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for thp in customers_prospects %}

                      <tr>
                          <td><b><a href="{{thp.get_absolute_url}}">{{thp.name}}</b></a></td>
                          <td><span class="btn btn-success btn-xs">{% trans "Customer" %}</span></td>
                          <td>{{thp.date_added }}</td>
                      </tr>
                    {% endfor %}
                    </tbody>
                </table>
                </section>
        </div><!-- /content-panel -->
     </div><!-- /col-lg-6 col-md-6 col-sm-12-->

  <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="content-panel">
            <h4><i class="fa fa-angle-right"></i> {% trans "Latest 10 modified Vendor invoices" %}</h4>
                <section id="unseen">
                <table class="table table-bordered table-striped table-condensed">
                    <thead>
                  <tr>
                        <th>{% trans "Third-party name" %}</th>
                        <th>{% trans "Type" %}</th>
                        <th>{% trans "Date" %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for thp in vendors %}
                      <tr>
                          <td> <a href="{{thp.get_absolute_url}}">{{thp.name}}</a></td>
                          <td><span class="btn btn-info btn-xs">{% trans "vendor" %}</span></td>
                          <td>{{thp.date_added }}</td>
                      </tr>
                    {% endfor %}
                    </tbody>
                </table>
                </section>
        </div><!-- /content-panel -->
     </div><!-- /col-lg-6 col-md-6 col-sm-12-->     

  
</div><!-- /row -->

<div class="row mt">

<div class="col-lg-6 col-md-6 col-sm-12">
            <div class="content-panel">
            <h4><i class="fa fa-angle-right"></i> {% trans "Customer draft invoices " %} (#)</h4>
                <section id="unseen">
                <table class="table table-bordered table-striped table-condensed">
                    <thead>
                  <tr>
                        <th>{% trans "Reference" %}</th>
                        <th>{% trans "Third-party" %}</th>
                        <th>{% trans "Amount" %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for prop in proposals %}
                      {% if not prop.is_validated %}
                      <tr>
                          <td> <a href="{{prop.get_absolute_url}}">{{prop.reference}}</a></td>
                          <td>{{prop.third_party.name}}</td>
                          <td>{{prop.amount_incl_tax|intcomma }} Fbu</td>
                      </tr>
                    {% endif %}
                    {% endfor %}
                      <tr>
                          <td></td>
                          <td align="right"><b>{% trans "Total" %}</b></td>
                          <td><b>###</b></td>
                      </tr>
                    </tbody>
                </table>
                </section>
        </div><!-- /content-panel -->
 </div><!-- /col-lg-6 col-md-6 col-sm-12-->

  <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="content-panel">
            <h4><i class="fa fa-angle-right"></i> {% trans "Vendor draft invoices" %} (#)</h4>
                <section id="unseen">
                <table class="table table-bordered table-striped table-condensed">
                    <thead>
                  <tr>
                        <th>{% trans "Reference" %}</th>
                        <th>{% trans "Third-party" %}</th>
                        <th>{% trans "amount" %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for po in purchase_orders %}
                      {% if not po.is_validated %}
                      <tr>
                          <td> <b><a href="{{po.get_absolute_url}}">{{po.reference}}</b></a></td>
                          <td>{{po.third_party.name}}</td>
                          <td>{{po.amount_incl_tax|intcomma}} Fbu</td>
                      </tr>
                    {% endif %}
                    {% endfor %}
                      <tr>
                          <td></td>
                          <td align="right"><b>{% trans "Total" %}</b></td>
                          <td><b>###</b></td>
                      </tr>
                    </tbody>
                </table>
                </section>
        </div><!-- /content-panel -->
     </div><!-- /col-lg-6 col-md-6 col-sm-12-->     
     

</div><!-- /row -->

          </section>
      </section>

      <!--main content end-->

{% endblock %}