{% extends "base_third_party.html" %}
{% load static i18n %}

{% block extra_stylesheet %}
<link href="{% static 'assets/css/table-responsive.css' %}" rel="stylesheet">
{% endblock extra_stylesheet%}

{% block title %}{% trans "Contacts/Addresses" %}{% endblock %}

{% block main_content %}
<section id="main-content">
    <section class="wrapper site-min-height">

        <div class="row mt">
          <div class="col-lg-9 col-md-9 col-sm-9">
            <h3><i class="fa fa-angle-right"></i> <b>{% trans "List of contacts/addresses" %}({{contacts|length}})</b></h3>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3" align="right">
            <a href="{% url 'contact_create' %}"  class="btn btn-success btn-sm">{% trans "Create a new contact" %}</a>
          </div>
        </div>

        <div class="row mt">
            <div class="col-lg-12">
                      <div class="content-panel">
                      <!-- <h4><i class="fa fa-angle-right"></i> Most 15 recent Third Parties</h4> -->
                          <section id="unseen">
                            <table class="table table-bordered table-striped table-condensed">
                              <thead>
                              <tr>
                                  <th>{% trans "Full name" %}</th>
                                  <th>{% trans "Third party" %}</th>
                                  <th>{% trans "Phone" %}</th>
                                  <th>{% trans "Business Phone" %}</th>
                                  <th>{% trans "Mobile phone" %}</th>
                                  <th>{% trans "email address" %}</th>
                                  <th>{% trans "Visibility" %}</th>
                                  <th>{% trans "Status" %}</th>
                              </tr>
                              </thead>
                              <tbody>
                              {% for contact in contacts %}
                              <tr>
                                  <td><a href="{{ contact.get_absolute_url }}"><b>{{contact.first_name}} {{contact.last_name}}</b></a></td> 
                                  <td>{{contact.third_party.name}}</td>
                                  <td>{{contact.phone}}</td>
                                  <td>{{contact.bus_phone}}</td>
                                  <td>{{contact.mobile_phone}}</td>
                                  <td>{{contact.email}}</td>
                                  <td>
                                    <span class="btn {% if contact.status %}btn-success{% else %}btn-danger{% endif %} btn-xs">{{thp.status|yesno:"Private,Shared,Not set"}}</span>
                                  </td>
                                  <td>
                                    <span class="btn {% if contact.status %}btn-danger{% else %}btn-success{% endif %} btn-xs">{{thp.status|yesno:"Open,Closed,Not set"}}</span>
                                  </td>
                              </tr>
                              {% endfor %}
                              </tbody>
                          </table>
                          </section>
                  </div><!-- /content-panel -->
               </div><!-- /col-lg-4 -->     
        </div><!-- /row -->
                  
              </div><! --/row -->
          </section>
      </section>

      <!--main content end-->

{% endblock %}