{% extends "base_third_party.html" %}
{% load static %}

{% block extra_stylesheet %}
<link href="{% static 'assets/css/table-responsive.css' %}" rel="stylesheet">
{% endblock extra_stylesheet%}

{% block title %}Contacts/Addresses{% endblock %}

{% block main_content %}
<section id="main-content">
    <section class="wrapper site-min-height">
      <h3><i class="fa fa-angle-right"></i> List of contacts/addresses(1)</h3>


        <div class="row mt">
            <div class="col-lg-12">
                      <div class="content-panel">
                      <!-- <h4><i class="fa fa-angle-right"></i> Most 15 recent Third Parties</h4> -->
                          <section id="unseen">
                            <table class="table table-bordered table-striped table-condensed">
                              <thead>
                              <tr>
                                  <th>Full name</th>
                                  <th>Third party</th>
                                  <th>Phone</th>
                                  <th>Business Phone</th>
                                  <th>Mobile phone</th>
                                  <th>email address</th>
                                  <th>Visibility</th>
                                  <th>Status</th>
                              </tr>
                              </thead>
                              <tbody>
                              {% for contact in contacts %}
                              <tr>
                                  <td><a href="{{ contact.get_absolute_url }}"><b>{{contact.first_name}} {{contact.last_name}}</b></a></td> 
                                  <td>{{contact.third_party.name}}</td>
                                  <td>{{contact.phone}}</td>
                                  <td>{{contact.bus_phone}}</td>
                                  <td>{{contact.mobile_phone}}</td>
                                  <td>{{contact.email}}</td>
                                  <td>{{contact.is_private}}</td>
                                  <td>{{contact.is_active}}</td>
                              </tr>
                              {% endfor %}
                              </tbody>
                          </table>
                          </section>
                  </div><!-- /content-panel -->
               </div><!-- /col-lg-4 -->     
        </div><!-- /row -->
                  
              </div><! --/row -->
          </section>
      </section>

      <!--main content end-->

{% endblock %}