{% extends "base_third_party.html" %} {% load static i18n %}

{% block title %}{{contact.first_name}} {{contact.last_name}} {% endblock %}

{% block extra_stylesheet %}
<link href="{% static 'assets/css/table-responsive.css' %}" rel="stylesheet">

<style>

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
</style>
{% endblock extra_stylesheet%}

{% block main_content %}
<section id="main-content">
    <section class="wrapper site-min-height">



      <div class="content-panel" style="margin-top: 5px;">

          <h3><i class="fa fa-angle-right"></i> <b>{{contact.first_name}} {{contact.last_name}}</b></h3> 

            <div class="row mt">
                <div class="col-lg-12 col-md-12 col-sm-12">
                  <div class="content-panel">
                    <section >
                      <table class="table table-condensed">
                        <tbody>
                          <tr>
                            <td><i class="fa fa-angle-right"></i> {{contact.third_party}}</td>
                          </tr>
                          <tr>
                            <td><i class="fa fa-angle-right"></i> {{contact.address}}</td>
                          </tr>
                          <tr>
                            <td><i class="fa fa-angle-right"></i> {{contact.bus_phone}} {{contact.mobile_phone}} {{contact.phone}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </section>
                  </div>
               </div>  
            </div>
      </div>
        
      <div class="content-panel" style="margin-top: 15px;">
        <div class="tab">
          <button class="tablinks" onclick="openCity(event, 'contact_addresses')">{% trans "Contact/Adresses" %}</button>
          <button class="tablinks" onclick="openCity(event, 'personal_data')">{% trans "Personal data" %}</button>
          <button class="tablinks" onclick="openCity(event, 'related_items')">{% trans "Related items" %}</button>
          <button class="tablinks" onclick="openCity(event, 'note')">{% trans "Note" %}</button>
          <button class="tablinks" onclick="openCity(event, 'payment_information')">{% trans "Payment Information" %}</button>
          <button class="tablinks" onclick="openCity(event, 'linked_files')">{% trans "Linked files" %}</button>
          <button class="tablinks" onclick="openCity(event, 'events')">{% trans "Events" %}</button>
        </div>

        <div id="contact_addresses" class="tabcontent" style="display: block;">

            <div class="row mt content-panel" style="padding-right: 15px; padding-left: 15px; margin-left: 5px; margin-right: 10px;">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <table class="table">
                      <tbody>
                        <tr>
                          <td>{% trans "Title" %}</td>
                          <td> {{contact.title.key}}</td>
                        </tr>
                        <tr>
                          <td>{% trans "Job position" %}</td>
                          <td>{{contact.job_title}}</td>
                        </tr>
                        <tr>
                          <td>{% trans "Visibility" %}</td>
                          <td>{{contact.is_private|yesno:"Private,Shared"}}</td>
                        </tr>
                      </tbody>
                    </table>
                </div>  

                <div class="col-lg-6 col-md-6 col-sm-12">
                    <table class="table">
                      <tbody>
                        <tr>
                          <td>{% trans "Default contact/address for" %}</td>
                          <td>#To-do</td>
                        </tr>
                        <tr>
                          <td>{% trans "Proposal's contact" %}</td>
                          <td>#To-do</td>
                        </tr>
                        <tr>
                          <td>{% trans "Contract's contact" %}</td>
                          <td>#To-do</td>
                        </tr>
                        <tr>
                          <td>{% trans "Invoice's contact" %}</td>
                          <td>#To-do</td>
                        </tr>
                      </tbody>
                    </table>
                </div> 

                <div class="col-lg-12 col-md-12 col-sm-12" align="right" style="margin-bottom: 15px;">
                  <button type="button" class="btn btn-success">{% trans "Send Email" %}</button>
                  <button type="button" class="btn btn-success">{% trans "Modify" %}</button>
                  <button type="button" class="btn btn-default">{% trans "Disable" %}</button>
                  <button type="button" class="btn btn-default">{% trans "Delete" %}</button>
                </div>
            </div>

            <div class="row mt">
              <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="content-panel">
                      <h4><b><i class="fa fa-angle-right"></i> {% trans "Latest 10 linked events" %}</b></h4>
                      <table class="table">
                        <tbody>
                          <tr>
                            <td> #To-Do</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
              </div>  


        </div>

        <div id="personal_data" class="tabcontent">
          <h4><i class="fa fa-angle-right"></i> {% trans "Personal data" %} {{contact.name}}</h4> 

            <table class="table table-bordered table-striped table-condensed">
                <thead>
                <tr>
                    <th>{% trans "Name" %}</th>
                    <th>{% trans "Job Position" %}</th>
                    <th>{% trans "Address" %}</th>
                    <th>{% trans "Default contact/address" %}</th>
                </tr>
                </thead>
                <tbody>
                {% for contact in thirdparty.contact_set.all %}
                <tr>
                    <td> <a href="{{contact.get_absolute_url}}">{{contact.first_name}} {{contact.last_name}}</a></td>
                    <td>{{contact.job_title|default:"-----"|truncatechars:30 }}</td>
                    <td>{{contact.address|default:"-----"|truncatechars:50 }}</td>
                    <td>{{contact.phone}}</td>
                    <td>
                      <span class="btn {% if thp.status %}btn-success{% else %}btn-danger{% endif %} btn-xs">{{thp.status|yesno:"Open,Closed,Not set"}}</span>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div id="related_items" class="tabcontent">
          <h3>#To-do</h3>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
        </div>

        <div id="related_items" class="tabcontent">
          <h3>#To-do</h3>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
        </div>

        <div id="payment_information" class="tabcontent">
          <h3>#To-do</h3>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting</p> 
        </div>

        <div id="notes" class="tabcontent">
          <h3>#To-do</h3>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
        </div>

        <div id="linked_files" class="tabcontent">
          <h3>#To-do</h3>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
        </div>

        <div id="events" class="tabcontent">
          <h3>#To-do</h3>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting</p> 
        </div>




      </div>





    </section>
</section>

      <!--main content end-->

{% endblock %}


{% block extra_javascript %}
<script>
function openCity(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}
</script>
{% endblock extra_javascript %}