{% extends "base_billing.html" %}
{% load static i18n widget_tweaks %}

{% block extra_stylesheet %}
<link href="{% static 'assets/css/table-responsive.css' %}" rel="stylesheet">
{% endblock extra_stylesheet%}

{% block title %}{% if editing %}{% trans "Modify" %} {{invoice}}{% else %}{% trans "New Vendor invoice" %}{% endif %}{% endblock %}

{% block main_content %}
<section id="main-content">
    <section class="wrapper site-min-height">
      <h3>
        {% if editing %}
        <i class="fa fa-angle-right"></i> <b>{% trans "Modify" %} {{invoice.reference}}</b>
        {% else %}
        <i class="fa fa-angle-right"></i> <b>{% trans "New Vendor invoice" %}</b>
        {% endif %}
      </h3>

        <div class="row mt">
            <div class="col-lg-12">
                      <div class="content-panel">
                          <section>

                            <div>
                              <form enctype="multipart/form-data" action="" method="post" id="thirdparty_form">
                                {% csrf_token %}
                                  {{ invoice_form.non_field_errors }}

                                {% if contact_form.errors %}
                                <p class="alert alert-danger"><b>{% trans "Please correct the following error:" %}</b> </p> 
                                {% endif %}

                                {% for hidden in invoice_form.hidden_fields %}
                                  {{ hidden }}
                                {% endfor %}

                                {% for field in invoice_form.visible_fields %}
                                  {% if field.label == "Vendor" %}
                                  <div class="row" style="padding-left:15px; padding-right: 15px;">
                                    <div class="form-group">
                                      <label for="{{ field.id_for_label }}" class="col-sm-2 col-sm-2 control-label">{{ field.label }}</label>
                                      <div class="col-sm-8">
                                        {% render_field field class="form-control" %}
                                        
                                        {% if field.errors %}
                                          {% for error in field.errors %}
                                            <span class="label label-danger" style="margin-bottom: 10px;">{% trans "Error" %}: {{ field.errors|join:", " }}</span><br>
                                          {% endfor %}
                                        {% else %}
                                            <span class="help-block">{{field.help_text}}.</span>
                                        {% endif %}

                                      </div>
                                      <div class="col-sm-2">
                                        <a class="btn btn-success"
                                          href="https://www.example.com" 
                                          target="popup" 
                                          onclick="window.open('{% url 'third_party_create' %}','popup','width=1200, height=600'); return false;">
                                            {% trans 'Add' %}
                                        </a>
                                      </div>
                                      

                                    </div>
                                  </div>
                                  {% else %}
                                  <div class="row" style="padding-left:15px; padding-right: 15px;">
                                    <div class="form-group">
                                      <label for="{{ field.id_for_label }}" class="col-sm-2 col-sm-2 control-label">{{ field.label }}</label>
                                      <div class="col-sm-10">
                                        {% render_field field class="form-control" %}
                                        
                                        {% if field.errors %}
                                          {% for error in field.errors %}
                                            <span class="label label-danger" style="margin-bottom: 10px;">{% trans "Error" %}: {{ field.errors|join:", " }}</span><br>
                                          {% endfor %}
                                        {% else %}
                                            <span class="help-block">{{field.help_text}}.</span>
                                        {% endif %}

                                      </div>
                                      

                                    </div>
                                  </div>
                                  {% endif %}
                                {% endfor %}

                                <div class="btn-group btn-group-justified">
                                  <div class="btn-group">
                                    <a href="javascript:void(0);" onclick="history.back()" class="btn btn-default btn-block">&#8678; {% trans "Cancel" %}</a>
                                  </div>
                                  <div class="btn-group">
                                    <button type="submit" class="btn btn-success btn-block" ><i class="fa fa-check-circle-o" aria-hidden="true"></i> {% if editing %}{% trans "Modify" %}{% else %}{% trans "Create invoice" %}{% endif %}</button>
                                  </div>
                                </div>
                              </form>
                            </div>
                      </div>

                          </section>
                  </div><!-- /content-panel -->
               </div><!-- /col-lg-4 --> 
        </div><!-- /row -->
                  
              </div><! --/row -->
          </section>
      </section>

      <!--main content end-->


{% endblock %}