{% extends "base_commerce.html" %}
{% load static i18n humanize %}

{% block extra_stylesheet %}
<link href="{% static 'assets/css/table-responsive.css' %}" rel="stylesheet">
{% endblock extra_stylesheet%}

{% block title %}{% trans "Commercial proposals " %}{% endblock %}

{% block commercial_proposal_active_link_class %}active{% endblock %}

{% block main_content %}
<section id="main-content">
    <section class="wrapper site-min-height">

          <div class="row mt">
            <div class="col-lg-9 col-md-9 col-sm-9">
              <h3><i class="fa fa-angle-right"></i> <b>{% trans "List of commercial proposals " %}({{proposals|length}})</b></h3>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3" align="right">
              <a href="{% url 'proposal_create' %}"  class="btn btn-success btn-sm">{% trans "Create a new Proposal" %}</a>
            </div>
          </div>
      


        <div class="row mt">
            <div class="col-lg-12">
                      <div class="content-panel">
                      <!-- <h4><i class="fa fa-angle-right"></i> Most 15 recent Third Parties</h4> -->
                          <section>
                            <table class="table table-bordered table-striped table-condensed">
                              <thead>
                              <tr>
                                  <th>{% trans "Reference" %}</th>
                                  <th>{% trans "Ref. customer" %}</th>
                                  <th>{% trans "Third-party" %}</th>
                                  <th>{% trans "Date of proposal" %}</th>
                                  <th>{% trans "Valid until" %}</th>
                                  <th>{% trans "Amount" %}</th>
                                  <th>{% trans "Author" %}</th>
                                  <th>{% trans "Status" %} ?</th>
                              </tr>
                              </thead>
                              <tbody>
                              {% for prop in proposals %}
                              <tr>
                                  <td><b> <a href="{{prop.get_absolute_url}}">{{prop.reference}}<b></a></td>
                                  <td>{{prop.customer_reference|default:"-----" }}</td>
                                  <td><a href="{{prop.third_party.get_absolute_url}}">{{prop.third_party.name}}<b></a></td>
                                  <td>{{prop.timestamp|date:"d N Y"}}</td>
                                  <td>{{prop.proposal_end_date|date:"d N Y" }}</td>
                                  <td>{{prop.amount_incl_tax|intcomma}} Fbu</td>
                                  <td>{{prop.author}}</td>
                                  <td align="left">
                                    {% if prop.is_validated %} 
                                      {% if prop.is_signed.value == '1' %}<span class="btn btn-warning  btn-xs">{% trans 'Signed (needs Billing)' %}</span>
                                      {% elif prop.is_signed.value == '0' %}<span class="btn btn-default  btn-xs">{% trans 'Not signed (closed)' %}</span>
                                      {% elif proposal.is_signed.value != '1' and proposal.is_signed.value != '0' %}<span class="btn btn-warning btn-xs">{% trans 'Validated (proposal is open)' %}</span>
                                      {% endif %}
                                    {% else %}
                                    <span class="btn btn-default btn-xs">{% trans 'Draft (needs validation)' %}</span>
                                    {% endif %}

                                  </td>
                              </tr>
                              {% endfor %}
                              </tbody>
                          </table>
                          </section>
                  </div><!-- /content-panel -->
               </div><!-- /col-lg-4 --> 
        </div><!-- /row -->
                  
              </div><! --/row -->
          </section>
      </section>

      <!--main content end-->


{% endblock %}