{% extends "base_third_party.html" %} {% load static i18n %}

{% block title %}{{thirdparty.name}}{% endblock %}

{% block extra_stylesheet %}
<link href="{% static 'assets/css/table-responsive.css' %}" rel="stylesheet">

<style>

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
</style>
{% endblock extra_stylesheet%}

{% block main_content %}
<section id="main-content">
    <section class="wrapper site-min-height">



      <div class="content-panel" style="margin-top: 5px;">

          <h3><i class="fa fa-angle-right"></i> <b>{{thirdparty.name}}</b></h3> 

            <div class="row mt">
                <div class="col-lg-12 col-md-12 col-sm-12">
                  <div class="content-panel">
                    <section >
                      <table class="table table-condensed">
                        <tbody>
                          <tr>
                            <td><i class="fa fa-angle-right"></i> {{thirdparty.address}}</td>
                          </tr>
                          <tr>
                            <td><i class="fa fa-angle-right"></i> {{thirdparty.website}}</td>
                          </tr>
                          <tr>
                            <td><i class="fa fa-angle-right"></i> {{thirdparty.phone}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </section>
                  </div>
               </div>  
            </div>
      </div>
        
      <div class="content-panel" style="margin-top: 15px;">
        <div class="tab">
          <button class="tablinks" onclick="openCity(event, 'commercial_proposal')">{% trans "Commercial Proposal" %}</button>
          <button class="tablinks" onclick="openCity(event, 'contact_addresses')">{% trans "Contact/Adresses<" %}/button>
          <button class="tablinks" onclick="openCity(event, 'notes')">{% trans "Notes" %}</button>
          <button class="tablinks" onclick="openCity(event, 'linked_files')">{% trans "Linked files" %}</button>
          <button class="tablinks" onclick="openCity(event, 'log')">{% trans "Log" %}</button>
        </div>

        <div id="commercial_proposal" class="tabcontent" style="display: block;">

            <div class="row mt content-panel" style="padding-right: 15px; padding-left: 15px; margin-left: 5px; margin-right: 10px;">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <table class="table">
                      <tbody>
                        <tr>
                          <td>{% trans "Nature of Third party" %}</td>
                          <td> {{thirdparty.prospect_customer}}</td>
                        </tr>
                        <tr>
                          <td>{% trans "Customer Code" %}</td>
                          <td>{{thirdparty.customer_code}}</td>
                        </tr>
                        <tr>
                          <td>{% trans "Barcode" %}</td>
                          <td>{{thirdparty.barcode}}</td>
                        </tr>
                        <tr>
                          <td>{% trans "Professional ID 1" %}</td>
                          <td>{{thirdparty.professional_id_1}}</td>
                        </tr>
                        <tr>
                          <td>{% trans "Professional ID 2" %}</td>
                          <td>{{thirdparty.professional_id_2}}</td>
                        </tr>
                        <tr>
                          <td>{% trans "Professional ID 3" %}</td>
                          <td>{{thirdparty.professional_id_3}}</td>
                        </tr>
                        <tr>
                          <td>{% trans "Professional ID 4" %}</td>
                          <td>{{thirdparty.professional_id_4}}</td>
                        </tr>
                        <tr>
                          <td>{% trans "Professional ID 5" %}</td>
                          <td>{{thirdparty.professional_id_5}}</td>
                        </tr>
                        <tr>
                          <td>{% trans "Professional ID 6" %}</td>
                          <td>{{thirdparty.professional_id_6}}</td>
                        </tr>
                        <tr>
                          <td>{% trans "VAT ID" %}</td>
                          <td>{{thirdparty.vat_id}}</td>
                        </tr>
                      </tbody>
                    </table>
                </div>  

                <div class="col-lg-6 col-md-6 col-sm-12">
                    <table class="table">
                      <tbody>
                        <tr>
                          <td>{% trans "Third-party type" %}</td>
                          <td>#To-do</td>
                        </tr>
                        <tr>
                          <td>{% trans "Workforce" %}</td>
                          <td>{{thirdparty.workforce}}</td>
                        </tr>
                        <tr>
                          <td>{% trans "Business entity type" %}</td>
                          <td>#To-do</td>
                        </tr>
                        <tr>
                          <td>{% trans "Capital" %}</td>
                          <td>{{thirdparty.capital}}</td>
                        </tr>
                        <tr>
                          <td>{% trans "Parent company" %}</td>
                          <td>#To-do</td>
                        </tr>
                        <tr>
                          <td>{% trans "Sales representatives" %}</td>
                          <td>#To-do</td>
                        </tr>
                      </tbody>
                    </table>
                </div> 

                <div class="col-lg-12 col-md-12 col-sm-12" align="right" style="margin-bottom: 15px;">
                  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete_modal">{% trans 'Delete' %}</button>
                  <button type="button" class="btn btn-success">{% trans "Send Email" %}</button>
                  <a href="#"  class="btn btn-success">{% trans "Modify" %}</a>
                </div>
            </div>

            <div class="row mt">
              <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="content-panel">
                      <h4><b><i class="fa fa-angle-right"></i> {% trans "Linked files" %}</b></h4>
                      <table class="table">
                        <tbody>
                          <tr>
                            <td> #To-Do</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
              </div>  

              <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="content-panel">
                      <h4><b><i class="fa fa-angle-right"></i> </b></h4>
                      <table class="table">
                        <tbody>
                          <tr>
                            <td> #To-Do</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
              </div>  
            </div>

        </div>

        <div id="contact_addresses" class="tabcontent">
          <div class="row mt">
            <div class="col-lg-9 col-md-9 col-sm-9">
              <h4><i class="fa fa-angle-right"></i> {% trans "Contacts/addresses for" %} {{thirdparty.name}}</h4>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3" align="right">
              <a href="#"  class="btn btn-success btn-sm">{% trans "Add a new contact" %}</a>
            </div>
          </div>

          <div class="row mt">
            <table class="table table-bordered table-striped table-condensed">
                <thead>
                <tr>
                    <th>{% trans "Name" %}</th>
                    <th>{% trans "Job Position" %}</th>
                    <th>{% trans "Address" %}</th>
                    <th>{% trans "Default contact/address" %}</th>
                </tr>
                </thead>
                <tbody>
                {% for contact in thirdparty.contact_set.all %}
                <tr>
                    <td> <a href="#">{{contact.first_name}} {{contact.last_name}}</a></td>
                    <td>{{contact.job_title|default:"-----"|truncatechars:30 }}</td>
                    <td>{{contact.address|default:"-----"|truncatechars:50 }}</td>
                    <td>{{contact.phone}}</td>
                    <td>
                      <span class="btn {% if thp.status %}btn-success{% else %}btn-danger{% endif %} btn-xs">{{thp.status|yesno:"Open,Closed,Not set"}}</span>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
          </div>
        </div>

        <div id="notes" class="tabcontent">
          <h3>#To-do</h3>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
        </div>

        <div id="linked_files" class="tabcontent">
          <h3>#To-do</h3>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
        </div>

        <div id="log" class="tabcontent">
          <h3>#To-do</h3>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting</p> 
        </div>



      </div>





    </section>
</section>


            <!-- Modal -->
            <div class="modal fade" id="delete_modal" role="dialog">
              <div class="modal-dialog">
              
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{% trans 'Delete' %} {{thirdparty.name|truncatechars:32}} ? </h4>
                  </div>
                  <div class="modal-body">
                    <div class = "alert alert-danger" style="padding-top: 10px;">
                              <form method="post" action="#">{% csrf_token %}
                              {% trans "Are you sure you wish to delete" %} {{thirdparty.name|truncatechars:32}} {% trans "and all the information assoicated with it" %}?
                              <br> <b>{% trans "N.B: This action can not be undone!" %}</b>
                    </div>
                  </div>
                  <div class="modal-footer">
                            <div class="pull-left">
                                <input type="submit" class="btn btn-danger btn-fill btn-sm" value="&#128683; {% trans "Yes I am sure: Proceed & Delete" %}"/>
                            </form>
                            </div>
                                </form>
                            <div class="pull-right">
                                <button id="myColseBtn{{file.id}}" type="button" class="btn btn-default btn-fill btn-sm closeModal" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
                            </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Modal -->


      <!--main content end-->

{% endblock %}


{% block extra_javascript %}
<script>
function openCity(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}
</script>
{% endblock extra_javascript %}